{{template "base" .}}

{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Latest Snippets</h2>
    <p>There's nothing to see here yet!</p>
    <img width="1200" src="https://embed.hava.io/72502c62-5396-4c1f-8006-8ce813abcbd1.png" />
{{end}}